*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFF;
    font-family: Times New Roman, Serif, Sans-serif;
}

h1, h2 {
    text-align: center;
    margin: 2% 0;
}

#disp-none {
    display: none;
}

.conteudo {
    width: 96%;
    margin: 2%;
    background-color: #d0d5ef;
    position: relative;
}

.conteudo, .opcoes-alteracoes-bd, .bloco-adicionar, .bloco-buscar, .table-result-busca {
    border: 2px solid black;
    border-radius: 5px;
}

.conteudo, #botao-adicionar {    
    box-shadow: 3px 3px 5px #909090;
}

#alteracoes-bd {
    width: 50%;
    margin: 2% auto;
    display: flex;   
}

.opcoes-alteracoes-bd {    
    width: 30%;
    cursor: pointer;
    text-align: center;
}

.opcoes-alteracoes-bd p {
    line-height: 40px;
    font-size: 1.2rem;
}

.botao-adicionar {    
    margin: 0 1% 0 auto;
}

.botao-adicionar:hover, .adicionar-ativo {
    background-color: #99d39c;
    transition: 0.3s ease-in;
}

.botao-buscar {    
    margin: 0 auto 0 1%;
}

.botao-buscar:hover, .buscar-ativo {
    background-color: #91a2ff;
    transition: 0.3s ease-in;
}

.bloco-adicionar, .bloco-buscar {
    width: 96%;
    margin: 2%;
    display: none;
}

.anima-bloco-adicionar, .anima-bloco-buscar {
    display : block;
}

.bloco-adicionar form {
    background-color: #99d39c;
    padding-top: 2%;
}

.bloco-adicionar label, .bloco-buscar label {
    font-size: 1.2rem;
    margin: 2% 0;
}

.bloco-buscar form{
    background-color: #91a2ff;
    padding: 2% 0;
}

.input-nome, .input-ing, .text-pre{
    width: 99%;
}

.text-pre, .bloco-adicionar input, .bloco-buscar input {
    font-family: Times New Roman, Serif, Sans-serif;
    font-size: 1rem;
    padding-left: 3px;
    margin-left: 1%;
}

.text-pre:focus, .bloco-adicionar input:focus, .bloco-buscar input:focus, .bloco-manutencao input:focus,
.botao-editar:focus, .botao-remover:focus {
    outline: none;
}

.table-form {
    margin: 0 auto;
    border-spacing: 0 15px;
}

.table-buscar {
    width: 70%;
}

.config-texto-table {
    text-align: right;
    vertical-align: top;
}

.config-celula-input {
    width: 85%;
}

.config-input-buscar {
    width: 70%;
}

#botao-adicionar, .botao-editar, .botao-remover {
    width: 90px;
    display: inline-block;
    border: none;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    padding: 1% 0;
    font-family: Times New Roman, Serif, Sans-serif;
    font-size: 1rem;
    border-radius: 5px;
}

#botao-adicionar {    
    background-color: #309435;
    margin: 2% calc(50% - 90px/2);
}

#botao-buscar {
    background-color: #4160ff;
    margin-left: 0.5%;
    cursor: pointer;
    width: 5%;
    border: none;
}

#botao-buscar::after {
    content: "\27A4";
    display: inline-block;
    color: white;
    padding: 5%;
}

.botao-editar {
    background-color: #f2ff64;
    color: black;
    margin-right: 2%;
}

.botao-remover {
    background-color: #ff2f2f;
    color: black;
    margin-left: 2%;
}

.botao-editar, .botao-remover { 
    box-shadow: 5px 5px 5px #504b4b;
}

.botao-editar span::before {
    content: "\270f";
    display: inline-block;
    transform: rotate(45deg);
}

.botao-editar:hover, .botao-remover:hover { 
    box-shadow: none;
}

#botao-adicionar span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#botao-adicionar span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#botao-adicionar:hover span{
    padding-right: 15%;
}
  
#botao-adicionar:hover span:after{
    opacity: 1;
    right: 0;
}

.botoes {
    text-align: center;
}

.bloco-manutencao {
    display: none;
}

.conteudo-buscar {
    width: 100%;
    margin: 2% auto;
    display: inline-block;
    text-align: center;
}

#input-busca {
    width: 30%;
}

#input-busca {
    outline: none;
}

.faixa-horizontal {
    width: 90%;
    height: 1px;
    background-color: #083D77;
    margin: 0 auto;
}

.lista-resultado {
    text-align: center;
    font-size: 1rem;
    margin: 2% 0;
}

.linha-fixa {
    font-weight: bold;
}

.linha-fixa, .linha {
    display: inline-flex;
    width: 70%;
}

.linha-fixa .coluna-id, .linha-fixa .coluna-classificacao, .linha-fixa .coluna-nome {    
    padding: 5px 0 10px 0;
}

.linha {
    cursor: pointer;
    position: relative;
}

.linha:hover {
    background-color: #788CFF;
}

.coluna-id {
    width: 10%;
    border-left: 2px solid #083D77;
}

.coluna-classificacao {
    width: 30%; 
}

.coluna-nome {
    width: 60%;
}

.coluna-id, .coluna-classificacao, .coluna-nome {
    border-right: 2px solid #083D77;
    padding: 5px 0;
}

.coluna-oculta {
    display: none;
}

.ativo {
    background-color: #788CFF;
}