@media only screen and (max-width: 2560px) {
    #titulo {
        height: 300px;
    }
    
    #container h1 {
        font-size: 3rem;
    }

    #buscador {
        width: 40%;
    }

    #buscador form {
        margin: 0 5% 0 1%;
        width: 89.5%;
    }

    #buscador img {
        width: 3%;
        margin-left: 1.5%;
        padding: 0.6% 0;
    }

    #buscador input {
        font-size: 1.8rem;
        min-height: 41px;
    }
}

@media only screen and (max-width: 1440px) {
    #titulo {
        height: 230px;
    }
    
    #container h1 {
        font-size: 2.4rem;
    }

    #buscador {
        width: 49%;
    }

    #buscador form {
        margin: 0 5% 0 2%;
        width: 88.5%;
    }

    #buscador img {
        width: 4%;
    }

    #buscador input {
        font-size: 1.5rem;
        min-height: 36px;
    }
}

@media only screen and (max-width: 1024px) {
    #titulo {
        height: 210px;
    }
    
    #container h1 {
        font-size: 2.2rem;
    }

    #buscador {
        width: 51%;
    }

    #buscador input {
        font-size: 1.4rem;
        min-height: 32px;
    }
}

@media only screen and (max-width: 768px) {
    #titulo {
        height: 190px;
    }

    #container h1 {
        font-size: 2rem;
    }

    #buscador {
        width: 53%;
    }

    #buscador img {
        width: 5%;   
        margin-left: 1.8%;     
        padding: 0.8% 0;
    }

    #buscador input {
        font-size: 1.2rem;
        min-height: 28px;
    }
}

@media only screen and (max-width: 425px) {
    #titulo {
        height: 170px;
    }

    #container h1 {
        font-size: 1.7rem;
    }

    #buscador {
        width: 55%;
    }

    #buscador img {
        width: 7%;
    }

    #buscador input {
        font-size: 1rem;
        min-height: 22px;
    }
}

@media only screen and (max-width: 375px) {
    #titulo {
        height: 150px;
    }

    #container h1 {
        font-size: 1.5rem;
    }

    #buscador {
        width: 60%;
    }

    #buscador input {
        font-size: 0.8rem;
        min-height: 19px;
    }
}